// Place all the styles related to the Customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background: #edf0f4;
}
button a{
	color: #ffffff;
}
button a:hover{
	color: #ffffff;
}